<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExpressJS Todo</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="header-logo">
                <img src="assets/images/express.png" alt="" width="100px">
            </div>
            <div class="header-info">
                <div class="title">{{ date }}</div>
                <div class="subtitle">{{ todos.length }} Active Tasks</div>
            </div>
            <div class="header-action">
                @if(status == 'incomplete')
                <a href="?status=incomplete" class="active">Incomplete Tasks</a>
                <a href="?status=completed">Completed Tasks</a>
                @else
                <a href="?status=incomplete">Incomplete Tasks</a>
                <a href="?status=completed" class="active">Completed Tasks</a>
                @endif
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-todo">
            <input type="text" id="todo" placeholder="Enter a task...">
            <button id="todo-add">Add Task</button>
        </div>
        <table class="todos">
            @each(todo in todos)
            <tr>
                <td width="5%">
                    @if(todo.status == 'completed')
                    <input type="checkbox" class="todo-status" data-id="{{ todo.id }}" checked="checked" id="todo-{{ $loop.index }}">
                    @else
                    <input type="checkbox" class="todo-status" data-id="{{ todo.id }}" id="todo-{{ $loop.index }}">
                    @endif
                    <label for="todo-{{ $loop.index }}"></label>
                </td>
                @if(todo.status == 'completed')
                <td width="85%" class="completed">{{ todo.title }}</td>
                @else
                <td width="85%">{{ todo.title }}</td>
                @endif
                <td width="10%">
                    <a href="javascript:void(0)" class="todo-remove" data-id="{{ todo.id }}">
                        <span class="icon-trash"></span>
                    </a>
                </td>
            </tr>
            @endeach
        </table>
    </div>
    <script src="assets/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">
        $(".todo-status").click(function () {
            let id = $(this).data('id');
            if ($(this).is(':checked')) {
                $(this).removeAttr("checked");
                changeStatus(id, 'incomplete');
            } else {
                $(this).attr("checked", "checked");
                changeStatus(id, 'completed');
            }
        });

        $("#todo-add").click(function () {
            if ($("#todo").val() != '') {
                $.ajax({
                    type: 'POST',
                    url: 'http://localhost:3000/todos',
                    data: {
                        title: $("#todo").val(),
                        status: 'incomplete'
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.id) {
                            $(location).attr('href', 'http://localhost:4000?status=incomplete')
                        }
                    }
                });
            }
        });

        $(".todo-remove").click(function () {
            let id = $(this).data('id');
            $.ajax({
                type: 'DELETE',
                url: 'http://localhost:3000/todos/' + id,
                success: function (data) {
                    $(location).attr('href', 'http://localhost:4000?status=incomplete')
                }
            });
        });

        function changeStatus(id, status) {
            $.ajax({
                type: 'PATCH',
                url: 'http://localhost:3000/todos/' + id,
                data: {
                    id: id,
                    status: (status == 'completed' ? 'incomplete' : 'completed'),
                },
                success: function (data) {
                    $(location).attr('href', 'http://localhost:4000?status=' + status)
                }
            });
        }
    </script>
</body>

</html>